/* ==========================================================================
   INPUT FIELDS
   ========================================================================== */

input[type="text"].scream_oneline {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent; 
    outline:none;
    max-width:100%;
}
input[type="text"].scream_oneline:active,input[type="text"].scream_oneline:focus{
    background-color: transparent !important;
}

.scream_textarea{
    outline:none;
    background-color: transparent;
    color:black;
}

.scream_textarea:focus{
    background-color: transparent;
    outline:none;
     color:black;
}

.scream_textarea_border{
    background-color: transparent;
    outline: 1px solid grey;
    color:black;
}
.scream_textarea_border:focus{ 
    background-color: transparent;
    outline: 1px solid grey;
    color:black;
}


p.scream_wide_box{
    float:left;
    border: 5px solid black;
    padding: 15px;
    outline:none;

}
p.scream_wide_box: active{
    background-color: silver;
}
p.scream_wide_box:hover{
    background-color: silver;
    outline:none;
}
/* ==========================================================================
   TEXT , BORDERS & BLOCKS
   ========================================================================== */

.readOnly{
    font-weight: bold;
    padding: 10px;
    padding-top: 20px;
}
.containerBox{
    background-color:white;
    border:2px solid black;
    width: 300px;
}

.oneLineBorder{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}

 .customFileUploadBlock{
    display:inline-block;
    cursor:pointer;
    background-color:white;
    width:400px;
    height:200px;
    position:relative;
    bottom:-50px;
    color:#66afad;
}

#projectHeader{
    background-color: #ececec;
    -moz-box-shadow: 1px 1px 3px 2px #d3d3d3;
    -webkit-box-shadow: 1px 1px 3px 2px #d3d3d3;
    box-shadow:         1px 1px 3px 2px #d3d3d3;
}

#WIP
{
    position:relative;
    bottom:-80px;
    padding-left: 40px;
}
/* ==========================================================================
   PLACEHOLDERS
   ========================================================================== */

::-webkit-input-placeholder {
   color: #66afad;
}

:-moz-placeholder { /* Firefox 18- */
   color: #66afad;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #66afad;  
}

:-ms-input-placeholder {  
   color: #66afad;  
}


/* ==========================================================================
   TOOLTIPS & POP UPS
   ========================================================================== */

.tooltip
{
    position: relative;
    display:inline-block;
    border:none;
}

 .tooltip .tooltiptext
{
    visibility: hidden;
    width:350px;
    background-color: white;
    color:black;
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
    
    /*Position*/
    position: absolute;
    z-index: 1;
    top:25px;
    left:60px;
    margin-left: -60px;
    
    /*Shadow*/
    -moz-box-shadow: 4px 4px 4px #d3d3d3;
    -webkit-box-shadow: 4px 4px 4px #d3d3d3;
    box-shadow: 4px 4px 4px #d3d3d3;
}


.tooltip:hover .tooltiptext
{
    visibility: visible;
}

#popupHeader{
    background-color:#f5da81;
    -moz-box-shadow: 0 5px 5px -5px  grey;
    -webkit-box-shadow:0 5px 5px -5px  grey;
    box-shadow:         0 5px 5px -5px  grey;

}

/*Code from http://www.w3schools.com/howto/howto_css_modals.asp*/
.popupPage{
    text-align:left;
    margin:auto;
    padding:0;
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/*For some reason, background won't turn white.  However, could make the background from the wrapper white..
EDIT: DID THE ABOVE.*/
.popup-content{
    background: white;
    margin:auto;/*15% auto;*/
    width: 50%;
    height:auto;
    z-index: 1;
}

/* The Close Button */
.close {

    float: right;
    font-size: 50px;
    margin:10px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */
.scream_btn{
    background-color: transparent;
    color: black;
    border:2px solid black;
    text-align:center;
    width:30%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scream_btn:focus{
    outline:none;
}

.scream_btn_blue{
    background-color: transparent;
    color: #66afad;
    border:2px solid #66afad;
    text-align:center;
    width:30%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.scream_btn_orange{
    background-color: orange;
    color: white;
    border:2px solid orange;
    text-align:center;
    width:30%;
    padding-top: 20px;
    padding-bottom: 20px;
}

   #realFileUploadBtn{
   opacity: 0;
   position:absolute;
   left:1px;
   background-color:orange;
}

#mvpBtn:hover{
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
}
/* ==========================================================================
   PAGE + SIDEBAR DIVISION 
   ========================================================================== */
#sidebar_box{
    float: left;
    height:100%;
    width:30%;
}

 /*Main content of the page*/
#main_pcontent{
    display: block;
    float:right;
    height:100%;
    width:70%;

}

.centeredContent{
    margin:auto;
    text-align: center;
    width:auto;
    padding:0;
}

#location{
    display:inline-block;
    vertical-align:middle;
    width:auto;
}

.team_info{
    float:right;
    width:30%;
    margin-top: -210px;
}

.project_goal{
    width:50%;
    margin-left: 350px;
}
/* ==========================================================================
   SVG ICONS AND IMAGES
   ========================================================================== */
#member_icon{
    height: 25px;
}

.location_icon{
    height: 30px;
}

#profilePic{
    border:none;
}

#sprint_sum_icon{
    height:35px;
    width: 40px;
    color:grey;
    
}

#tabIcon{
    height:16px;
}

#lightBulb
{
    height:80px;
    vertical-align: middle;
    width:auto;
    margin-left:2em;
    
}

#insight_icon{
    height:30px;
    width: 20px;
    color:grey;
}


/* ==========================================================================
   TABS
   ========================================================================== */

.wrapper {
  margin: 30px auto;
  color: #555;
  font-size: 14px;
  line-height: 24px;
}
h1 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
h1 + p {
  text-align: center;
  margin: 20px 0;
}
.tabs li {
  float: left;
  width: 25%;
}
.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid #888;

  color: #888;
  padding: 20px 0;
  background: transparent;
}


.tabs a:hover,
.tabs a.active {
    border-bottom: 4px solid #888;
      font-weight: bold;


}

.tabgroup div {
  padding: 30px;
 
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Test tab diff css*/

.tabs2 li {
  float: left;
  width: 25%;
}


.tabs a.active2 {
    background-color:white;
    font-weight: bold;


}
.tabs2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #888;
  padding: 20px 0;
  background: transparent;
}
